<!DOCTYPE html>
<html>
<head>
    <title>Itiji</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customer_home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/driver_home.css') }}">
</head>

<body>

<nav class="navbar">

    <div class="logo">
    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo-img">
    Itiji
</div>


    <div class="nav-right">

        {% if user %}
            <span class="user">{{ user }}</span>
            <a href="{{ url_for('main') }}">Home</a>
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('statistics') }}">Statistics</a>
            <a href="{{ url_for('logoff') }}" class="logout">Log out</a>

        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('signup') }}">Sign up</a>
        {% endif %}

    </div>

</nav>

{% block content %}{% endblock %}

</body>
</html>
