{% extends 'base.html' %}

{% block content %}

<div class="bg bg-login" >
    <div class="box">

        <h2>Bem-vindo!</h2>
        <p>Por favor insira os seus dados para concluir o registo.</p>

        <form method="post" action="/save_company">
            <input name="name" placeholder="Company Name" required>
            <input type="date" name="begin_date" required>

            <button class="btn">Create Account</button>
        </form>

    </div>
</div>

{% if resul %}
    <p class="error">{{ resul }}</p>
{% endif %}
{% endblock %}
