{% extends 'base.html' %}

{% block content %}
<div class="bg">
    <div class="box profile-page">

        <h1>Editar Perfil</h1>

        <form method="POST" enctype="multipart/form-data">

            <label>Nome:</label>
            <input type="text" name="name" value="{{ cliente.name }}" required>

            <label>Email:</label>
            <input type="email" name="email" value="{{ cliente.email }}" required>

            <label>Telemóvel:</label>
            <input type="text" name="phone" value="{{ cliente.phone }}" required>

            <label>Data de nascimento:</label>
            <input type="date" name="dob" value="{{ cliente.dob }}" required>

            <label>Foto:</label>
            <input type="file" name="photo" accept="image/*">

            <button type="submit" class="btn">Guardar</button>
        </form>

        <a href="{{ url_for('customer_profile') }}" class="btn btn-voltar">Voltar</a>


    </div>
</div>
{% endblock %}

