{% extends 'base.html' %}

{% block content %}
<div class="bg">
    <div class="statistics-page">
        <div class="header-container">
            <h1> Your data </h1>
            <p class="user-meta"> <strong>{{ email_utilizador }}</strong> | Your ID: <strong>{{ customer_id }}</strong></p>
        </div>

        {% if active_charts %}
            <div class="grid">
                {% if '1' in active_charts %}
                <div class="card"><img src="{{ url_for('static', filename='images/customer_' ~ customer_id ~ '_1.png') }}?v=105"></div>
                {% endif %}
                {% if '2' in active_charts %}
                <div class="card"><img src="{{ url_for('static', filename='images/customer_' ~ customer_id ~ '_2.png') }}?v=105"></div>
                {% endif %}
                {% if '3' in active_charts %}
                <div class="card"><img src="{{ url_for('static', filename='images/customer_' ~ customer_id ~ '_3.png') }}?v=105"></div>
                {% endif %}
                {% if '4' in active_charts %}
                <div class="card"><img src="{{ url_for('static', filename='images/customer_' ~ customer_id ~ '_4.png') }}?v=105"></div>
                {% endif %}
            </div>
        {% else %}
            <div class="no-data-card">
                <p>📊 No operational history available for this profile.</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
