{% extends 'base.html' %}

{% block content %}

<div class="home">

    <div class="overlay"></div>

    <div class="home-content">

        <h1>Go anywhere, anytime 🚗</h1>
        <p>Fast, safe and effortless rides</p>

        <!-- ✅ FORM VIAGEM -->
        <div class="ride-box">

            <form>

                <input type="text" placeholder="📍 Pickup location" required>
                <input type="text" placeholder="🏁 Destination" required>

                <button class="btn">Request Ride</button>

            </form>

        </div>

    </div>

</div>

{% endblock %}